<div>
  <button (click)="onSelectUser()">
    <img
      [src]="imagePath()"
      [alt]="selectedUser().name"
    />
    <span>{{ selectedUser().name }} </span>
  </button>
</div>

<!-- * LEARNING: In order to access the value stored in Signal I need to execute the Signal read function -- selectedUser() -> to get the latest value from it      -->

<!-- # LEARNING: What does this Read here does is that it tells Angular that I am trying to get the value of that signalin this specific place here, in this template and Angular is therefore able to set a subscription behind the scenes which will make sure that this place where that signal value is used - this tamplate in this case will be Re-evaluated (Re-Rendered) and updated on the UI whenever that signal value changes-->

<!-- INFO: So Angular sets up a tracking mechanism that automatically make sure that the UI is updated whenever the underlying value change      -->

<!-- + The difference with State Management Mechanism (SMM) is that in SMM the Angular is using Sub Package called Zone.js - an invisible grouping mechanism that is set up behind the scenes by Angular where it listenes for all kinds of events that could trigger state changes (Data Changes that should affect the UI) for example User clicks a button, and Angular goes ahead and checks all the components in that Zone whether some data changes that now needs to be updated on the UI         -->

<!-- * The Advantage of Signals is that Angular can get rid of Zone.js and the Zone concept. So it allows Angular to perform change detection and UI updating in the more effective way    -->