<div>
    <button>
        <!-- * Old Version(Messy and not up to best practicies as I want to leave all the computations outside HTML Template) -->
        <!-- <img [src]="'../assets/users/' + selectedUser.avatar"> -->

        <!-- INFO - I am using getter like a property so I DO NOT EXECUTE IT like this imagePatch(). So because it is Getter and although it is a function I will still use it as a property -->
        <img [src]="imgePath">
        <span>{{ selectedUser.name }}</span>
    </button>
</div>


<!-- * String Interpolation -->
<!-- * <span>{{ selectedUser.name }}</span> is the explample of string interpolation. -->
<!-- * In other words: Putting data from the component into HTML. -->

<!-- . Attribute Binding -->
<!-- . Setting an HTML attribute using data from your component. -->


